/CadastroClient/nbproject/private/
/CadastroClient/build/
/CadastroServerThread/nbproject/private/
/CadastroServerThread/build/
/CadastroClienteThread/nbproject/private/
/CadastroClienteThread/build/
